@import url('https://fonts.googleapis.com/css?family=Rubik');


body {
  margin: 0;
  padding: 0;
  background-color: #61082A;
  font-family: 'Rubik', sans-serif;
}

h1, h2{
  color: #B4D0E7;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 38px;
}

.clockContainer{
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.runButton, .pauseButton{
  font-family: inherit;
  font-size: 13px;
  height: 35px;
  width: 90px;
  background-color: #ffb7d1;
  border-radius: 10px;
  margin: 0 20px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
background-color: #ff9ec0;
}
